<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Vue.js!!</title>
    <script src="./assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-if="verifica">{{ mensagem }}</h1>
        <h1 v-else="verifica">Outra mensagem</h1>
        <h1 v-if="numero > 4">O numero é maior que 4</h1>
        <h1 v-else-if="numero == 4">numero é igual a {{ numero }}</h1>
        <h1 v-else>O numero nao é maior que 4 e nem igual a {{ numero }}</h1>


    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                mensagem: 'Olá, Vue.js! Meu olá, Mundo',
                listas: {
                    id: 1,
                    nome: 'André Albernaz',
                    idioma: 'Português e Inglês',
                    
                },
                arrayList: [
                    {
                        id: 7,
                        nome: 'Chacal',
                        idioma: 'Espanhol do Array'
                    },
                    {
                        id: 8,
                        nome: 'Jonas',
                        idioma: 'Inglês do Array'
                    },
                    {
                        id: 9,
                        nome: 'Marina',
                        idioma: 'Aramaico do Array'
                    },
                ],

                verifica: true,
                numero: 3,
            }
        });
    </script>
</body>
</html>