<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Vue.js!!</title>
    <script src="./assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul v-if="verifica" v-for="lista in arrayList">
            <li>ID: <b>{{ lista.id }}</b></li>
            <li>NOME: <b>{{ lista.nome }}</b></li>
            <li>IDIOMA: <b>{{ lista.idioma }}</b></li>
        </ul>
        <p v-else>Não há dados</p>
        <ul v-if="verifica">
            <li v-for="lista in arrayList">
                ID: <b>{{ lista.id }}</b><br>
                NOME: <b>{{ lista.nome }}</b><br>
                IDIOMA: <b>{{ lista.idioma }}</b><br><hr>
                <br>
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                listas: {
                    id: 1,
                    nome: 'André Albernaz',
                    idioma: 'Português e Inglês',
                    
                },
                arrayList: [
                    {
                        id: 7,
                        nome: 'Chacal',
                        idioma: 'Espanhol do Array'
                    },
                    {
                        id: 8,
                        nome: 'Jonas',
                        idioma: 'Inglês do Array'
                    },
                    {
                        id: 9,
                        nome: 'Marina',
                        idioma: 'Aramaico do Array'
                    },
                ],
                verifica: true,
            }
        });
    </script>
</body>
</html>